*{
    font-family: Helvetica;
}

header {
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./images/pattern.jpeg);
}

p {
    text-align: left;
}

.brushes {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frames {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.pricing {
    font-weight: bold;
    color: blue;
}